<!-- indexer::stop -->
<div class="footer-top pt-0 pt-xl-5 pb-0 pb-xl-5">
  <div class="container-lg mt-4 mb-4">
    <div class="row">
      <div class="col-md-6 col-xl-4">
        <div class="footer-left">
          <h4 class="mt-0 footer-headline">RSZ</h4>
          <address>
            <p>SAC Regionalzentrum Sportklettern Zentralschweiz</p>
            <p>
              <strong>Präsident:</strong><br>
              Philippe Amstutz<br>
              <strong>Phone:</strong> +41 79 785 25 98<br>
              <strong>Email:</strong>  {{ insert_tag('email::vorsitz@kletterkader.com')|raw }}
            </p>
          </address>

          <div class="social-links mt-4">
            <a href="https://www.facebook.com/kletterkader/" class="me-3 facebook"><i class="fa fa-2x fa-facebook"></i></a>
            <a href="https://www.instagram.com/kletterkader/" class="me-3 instagram"><i class="fa fa-2x fa-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mt-4 mt-md-0 footer-right">
        <h4 class="mt-0 footer-headline">Nützliche Links</h4>
        <ul>
          <li><i class="fa-solid fa-chevron-right"></i> <a href="https://www.pilatusindoor.ch/"> Pilatus Indoor</a></li>
          <li><i class="fa-solid fa-chevron-right"></i> <a href="{{ insert_tag('link_url::service/kontakt') }}">Kontakt</a></li>
          {# <li><i class="fa-solid fa-chevron-right"></i> <a href="{{ insert_tag('link_url::suchen') }}">Suchen</a></li> #}
          <li><i class="fa-solid fa-chevron-right"></i> <a href="{{ insert_tag('link_url::impressum') }}">Impressum</a></li>
        </ul>
      </div>
      <div class="d-none d-xl-block col-xl-4">
        {{ insert_tag('image::files/themes/rsz-theme/logos/logos_rsz_new/RSZ/RSZ_negativ.svg')|raw }}
      </div>
    </div>
  </div>
</div>

<div class="footer-bottom pt-4 pb-4 pt-xl-5 pb-xl-5">
  <div class="container-lg">
    <div class="copyright">
      &copy; Copyright <strong><span>Regionalzentrum Sportklettern Zentralschweiz</span></strong>. Alle Rechte vorbehalten
    </div>
    <div class="credits">Designed by <a href="https://github.com/markocupic/">Marko Cupic</a></div>
  </div>
</div>
<!-- indexer::continue -->
